@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f9fafb;
}

::-webkit-scrollbar-thumb {
  background: #374151;
}

body {
  font-family: 'Inter', sans-serif;
}

.banner {
  background: linear-gradient(180deg, #0d2e55 0%, #001a3a 100%);
}

.banner-light {
  background: linear-gradient(180deg, #3b82f6 0%, #2c63bb 100%);
}

.serif-custom {
  font-family: 'Literata', serif;
}

[l-mask] {
  display: none;
}

[l-show] {
  transition: all 0.5s linear;
}
